body {
  padding-top: 50px;
  background-color: #EFC94C;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

main {
  margin-top:10%;
}

@import "compass/css3";

$height: 100px;


.thumbnail{
  margin-top:10px;
}

.form-horizontal{
    padding-top: 100px;
    padding-left : 20%;
    padding-right : 20%;
}

.col-sm-10{
    padding-bottom: 15px;
}

/* .btn{
    margin-left: 50%
} */

* { box-sizing: border-box; }

.process {
  width:95%;
  background-color:#eeeeee;
  border:1px solid #b0b0b0;
  position:relative;
  
  margin:10px;
  
}
.precent {
  position:absolute;
  height:100%;
  width:0%;
  background-color:red;
  text-align:center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size:30px;
  
   -webkit-transition: all 0.5s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 0.1s linear;
}


.thumbnail{
  margin-top:10px;
}

.thumbnail2 img {
  width: 100%;
  height:100%;
}


.thumbnail>img{
  width:150px;
  height:150px;
}

.row {
  margin-top:20px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form,.navbar-inverse{
  background-color: #DF5A49;
}
.home-fluid{
  padding: 0;
}
.home{
  padding-top: 20px;
  background-color: #fff;
  text-align: center;
}

.rating {
    direction: rtl;
}
.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}

ul.notes-echelle {
    margin:0;
    padding:0;
    font:.75em/1.2 Arial, Helvetica, sans-serif;
}
ul.notes-echelle li {
    float:left;
    margin:0;
    padding:0;
    list-style:none;
    min-width:20px;
    min-height:20px;
}
/* Correctif IE6 sur min-width & min-height */
* html ul.notes-echelle.js li {
    width:20px;
    height:20px;
}
ul.notes-echelle li label {
    display:block;
    text-align:center;
    line-height:20px;
    background:url(etoiles.gif) center top no-repeat;
    cursor:pointer;
}
ul.notes-echelle li.note-off label {
    background-position:center -60px;
}
ul.notes-echelle.js input {
    position:absolute;
    left:-999%;
}

.btn {
    margin-bottom: 5px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }